<% content_for :head do %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<% end %>

<div class="container">

  <ul class="collection with-header">
    <li class="collection-header"><h4><%= @cohort.city.name %> Projects for Demo Day <%= @cohort.demo_day_date.strftime('%m/%d/%Y') %></h4></li>
    <% @cohort.projects.each do |project| %>
      <li class="collection-item"><%= link_to project.app_name, cohort_project_path(@cohort, project) %></li>
    <% end %>
  </ul>
</div>
